
header{
    text-align: center;
    height: 100px;
    background-color: aqua;
}

.post{
    width: 40px;
    background-color: gray;
    position: relative;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
}

#board{
    display: flex;
    justify-content: space-around;
    background-color: lightblue;
    height: 400px;
    border-bottom: 10px solid gray;
    border-radius: 10px;
}

.disk{
    cursor: pointer;
    height: 45px;
    box-sizing: border-box;
    position: static;
}

#block-1{
    background-color: red;
    width: 40px;
    margin-left: 0px
}

#block-2{
    background-color: green;
    width: 80px;
    margin-left: -20px;
}

#block-3{
    background-color: blue;
    width: 90px;
    margin-left: -25px;
}

#block-4{
    background-color: purple;
    width: 100px;
    margin-left: -30px;
}
